@model Beer.Models.RootModel;
@{
    ViewData["Title"] = "Beer";
}

<h1>Beer</h1>
<div class="row">
    <div class="col-md-12">
        <p>There are @Model.numberOfPages pages of beer.  Perhaps you would like to refine your search using the search facility?</p>
        <!-- Search componnt goes here-->
        @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
        {
            <div style="text-align: right;">
                <input asp-for="searchParam" placeholder="Search term" />
                <button type="submit" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                Sort: @Html.ActionLink("ASC", "Index", "Home", new { sort = "ASC" }, null) | @Html.ActionLink("DESC", "Index", "Home", new { sort = "DESC" }, null)
            </div>
        }
         
        <div style="text-align: center;">Page @Model.currentPage</div>
        <table class="table-grid marTB20">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beer in Model.data)
                {
                    <tr>
                        <td>@beer.nameDisplay</td>
                        <td>@beer.description</td>
                        <td>@Html.ActionLink("View details", "GetDetails", "Home", new { id = beer.id }, null)</td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="width: 90%;">
                        @for (var i = 1; i <= Model.numberOfPages; i++)
                        {
                            @Html.ActionLink(i.ToString() + " ", "Index", "Home", new { currentPage = i }, null);
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>